<settings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://developer.garmin.com/downloads/connect-iq/resources.xsd">
    <setting propertyKey="@Properties.Stop1" title="@Strings.Stop1Title">
        <settingConfig type="alphaNumeric" />
    </setting>
    <setting propertyKey="@Properties.Stop2" title="@Strings.Stop2Title">
        <settingConfig type="alphaNumeric" />
    </setting>
    <setting propertyKey="@Properties.SwitchHour" title="@Strings.SwitchHourTitle">
        <settingConfig type="list">
            <listEntry value="9">09:00</listEntry>
            <listEntry value="10">10:00</listEntry>
            <listEntry value="11">11:00</listEntry>
            <listEntry value="12">12:00</listEntry>
            <listEntry value="13">13:00</listEntry>
            <listEntry value="14">14:00</listEntry>
            <listEntry value="15">15:00</listEntry>
        </settingConfig>
    </setting>
</settings>
